title {
  font-size: 100px;
}

h1 { 
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  color: #012B55 ;
  text-decoration: underline;
  margin: 20px;
}

h2 {
  text-align: center;
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color:#FFFFFF;
}

footer {
  background-color: #012B55;
  color: #FFFFFF;
  padding: 30px;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

footer p {
  color: #FFFFFF;
}

footer a {
  color: #FFF700;
}

nav {
  background-color: #012B55;
  text-align: center;
}

.nav_links {
  list-style: none; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_item a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.nav_item a:hover, a:focus {
  color: #123C69;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}

.current_item a {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px #FFFFFF;
  color: #012B55;
  text-transform: uppercase;
  font-size: 24px;
}

.container {
  color: #012B55;
  margin-right: 50px;
  margin-left: 50px;
}

.step-one {
  background-color: #FFFFFF;
  border: 5px solid #012B55;
  padding: 50px;
  grid-column: 1 / span 1;
}

.step-one h2 {
  text-align: center;
  color: #FFF700;
}

.step-two {
  background-color: #FFFFFF;
  border: 5px solid #012B55 ;
  padding: 50px;
  grid-column: 2 / span 1;
}

.step-two h2 {
  text-align: center;
  color: #FFF700;
}

.step-three {
  background-color: white;
  border: 5px solid #012B55;
  padding: 50px;
  grid-column: 3 / span 1;
}

.step-three h2 {
  text-align: center;
  color: #FFF700;
}

.step-four {
  background-color: #FFFFFF;
  border: 5px solid #012B55;
  padding: 50px;
  grid-column: 4 / span 1;
}

.step-four h2 {
  text-align: center;
  color: #FFF700;
}

.step-five {
  background-color: #FFFFFF;
  border: 5px solid #012B55;
  padding: 50px;
  grid-column: 5 / span 1;
}

.step-five h2 {
  text-align: center;
  color: #FFF700;
}

.skip a {
  color: #012B55;
  height: 24px;
  left:75%;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.5s;
  }
  
  .skip a:focus {
    transform: translateY(0%);
  }
  
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 99%;
  margin: 0 auto;
  margin-bottom: 20px;
}
 
p {
  color:black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.descriptions {
  border: 3px solid #012B55;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.introtext {
  text-align: center;
  margin: 15px;
  border: 3px solid #012B55;
  padding-bottom: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  padding-top: 25px;
}

h2{
  color: #012B55;
}

.form-for-contact {
  color: #012B55;
  text-align: center;
}

body, html {
  height: 100%;
}

input[name=fullname], input[name=email], input[name=message]{
  width: 25%;
  padding: 12px;
  border: 1px solid #123C69;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 20px 20px 20px 0;
  display: inline-block;
}

button {
  justify-content: center;
  align-items: center;
  background-color: #123C69;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
}

#myForm {
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 125px;
  height: 175px;
  border: 1px solid #f1f1f1;
  margin-top: 75px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

@media screen and (min-width: 768px) {

  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 20px;
    column-gap: 20px;
  }

  .descriptions {
    margin-right: 75px;
    margin-left: 75px;
    font-size: 16px;
  }
 
  .introtext {
    margin-right: 75px;
    margin-left: 75px;
    font-size: 16px;
  }
  
  .nav_links {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px;
    font-weight: bold;
    font-size: 20px;
  }

  .gallery {
    width:90%;
    row-gap: 25px;
    column-gap: 25px;
  }

  #image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
    width: 200px;
    height: 260px;
    filter: drop-shadow(8px 8px 10px gray);
  }

  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 260px;
    border: 1px solid #f1f1f1;
  }

  #logo {
   animation-name: mymove;
   animation-duration: 5s;
   animation-iteration-count: 1;
 }

 @-webkit-keyframes mymove {
   from{ 
     width: 25px;
     opacity: 0;
   }
   to{
     width: 150px;
     opacity: 1;
   } 
 }
 
 @keyframes mymove {
   from{
     width: 25px;
     opacity: 0;
   }
   to{
     width: 150px;
     opacity: 1;
   }
 } 

 @media (prefers-reduced-motion:reduce ){
   #logo{
     animation: none;
   }
   .flip-card:active .flip-card-inner {
    transform: None;
  }
 }
}

@media screen and (min-width: 1280px) {
  .gallery {
    width: 67%;
    row-gap: 100px;
    column-gap: 100px;
  }

  #image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9 {
    width: 250px;
    height: 330px;
    filter: drop-shadow(10px 10px 12px #f1f1f1);
  }

  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 50px;
    column-gap: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .nav_links {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  .introtext {
    margin-right: 100px;
    margin-left: 100px; 
    font-size: 18px;
  }

  .descriptions {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 18px;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .flip-card  {
    background-color: transparent;
    width: 250px;
    height: 330px;
    border: 1px solid #f1f1f1;
  }
}